<%- include('./partials/top.ejs', {title: "Customer cart"}) %>
  
   <%- include('./partials/menu.ejs') %>

<h1>Customer cart</h1>
<!-- awal cart -->

<div class="col-lg-8">
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Full Name</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%=data.customerName%></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Email</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= data.email %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Saldo</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= data.balance %></p>
          <a class="nav-item nav-link mb-0" href="/customer/<%=data.id%>/topUp">Top Up</a>

        </div>
      </div>
      <hr>
      </div>
    </div>
  </div>

<!-- akhir cart -->

<!-- awal table -->

<table class="table align-middle">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nama</th>
      <th scope="col">Type</th>
      <th scope="col">Price</th>
      <th scope="col">Size</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <%if(data.Product){ %>


    
    <% data.Product.forEach(el =>{ %>

      <tr>
        <th scope="row">1</th>
        <td><%= el.productName %></td>
        <td><%= el.productDetail.type %></td>
        <td><%= el.price %></td>
        <td><%= el.stock %></td>
        <td>
          <a href="" type="button" class="btn btn-danger btn-sm px-3"> 🗑</a>
          
        </td>
      </tr>
     
      <% }) %>
   <%}%>
  </tbody>
</table>

<!-- akhir table -->

</body>
</html>