<%- include('./partials/top.ejs', {title: "Product Detail"}) %>
  
<%- include('./partials/menu.ejs') %>

<div class="container align-middle center my-5 py-5 z-depth-1">


  <!--Section: Content-->
  <section class="text-center">

    <!-- Section heading -->
    <h3 class="font-weight-bold mb-5">Product Details</h3>

    <div class="row">
      <div class="col-lg-6">

        <!--Carousel Wrapper-->
        <% data.forEach(el =>{ %>
        <div id="carousel-thumb1" class="carousel slide carousel-fade carousel-thumbnails mb-5 pb-4" data-ride="carousel">

        <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">
          <span class="red-text font-weight-bold">
            <strong>$1449</strong>
          </span>
         
        </h3>

        <div class="font-weight-normal">
          
          
          <p class="ml-xl-0 ml-4">
            <strong>Type: </strong> <%= el.type %> </p>
          <p class="ml-xl-0 ml-4">
            <strong>Size: </strong> <%= el.size %></p>
          <p class="ml-xl-0 ml-4">
            <strong>Requirement: </strong><%= el.req %></p>
          <p class="ml-xl-0 ml-4">
            <!-- <strong>Availability: </strong><%=  %></p> -->
          
         

        </div>

      </div>
      <% }) %>

    </div>

  </section>
  <!--Section: Content-->


</div>



</body>
</html>